appdirs==1.4.4
audioread==2.1.8
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
deepspeech==0.6.1
Flask==1.1.2
Flask-Cors==3.0.9
halo==0.0.30
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
kiwisolver==1.2.0
librosa==0.8.0
llvmlite==0.34.0
log-symbols==0.0.14
MarkupSafe==1.1.1
nltk==3.5
numba==0.51.2
numpy==1.19.2
packaging==20.4
pip-check-reqs==2.1.1
pocketsphinx==0.1.15
pooch==1.2.0
PyAudio==0.2.11
pycparser==2.20
pydub==0.24.1
pyparsing==2.4.7
python-dateutil==2.8.1
regex==2020.7.14
requests==2.24.0
resampy==0.2.2
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
SoundFile==0.10.3.post1
soupsieve==2.0.1
SpeechRecognition==3.8.1
spinners==0.0.24
termcolor==1.1.0
threadpoolctl==2.1.0
tqdm==4.49.0
urllib3==1.25.10
Wave==0.0.2
Werkzeug==1.0.1
wsgi
